@import "Assets/Styles/gallery";
@import "Assets/Styles/main";

body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    line-height: 27px;
    max-width: 1920px;
}
.LandingPage {
    height: 100vh;
    margin-left: 50px;
    display: grid;
    grid-template-columns: 2fr 5fr;

    .Description {
        padding: 10%;
    }
}

.Explanation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    z-index:10;
    margin-top: 300px;

    .ExplanationContainer {
        width: 350px;
        place-self: center;
        text-align: center;

        .PlayerIcon {
            width: 100px;
        }

        .Title {
            margin: 1rem 0 30px 0;
            font-weight: 600;
            font-size: 18px;
        }

        .Desc {
            width: 350px;
            text-align: justify;
            font-size: 14px;
            font-weight: 200;
        }
    }
}

.Features {
    .FeaturesContainer {
        width: 450px;
        text-align: center;

        .Title {
            margin-bottom: 30px;
            font-size: 24px;
            font-weight: 500;
        }

        .Desc {
            text-align: center;
            font-size: 14px;
            width: 450px;
            margin-bottom: 70px;
        }

        .FeatureList {
            list-style: none;

            li {
                display: grid;
                place-items: center;
                margin: 2rem 0;
                height: 3rem;
                background: linear-gradient(59.46deg, #1C083D 1.6%, #1D4AA0 230.16%);
            }
        }
    }
}

.Footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    width: 800px;
    border-top: 1px solid #707070;
    padding: 2rem;
    font-size: 13px;
}

.Content{
    margin: 30px 0 45px 0;
    width: 450px;
}

.bgimg01{
    background-image: url("./Assets/Images/sec01.jpg");
    background-size: contain;
    position: absolute;
    width: 1922px;
    height: 1280px;
    left: 0px;
    top: 0px;
    z-index: -1;
}
.bgimg02{
    background-image: url("./Assets/Images/sec02.png");
    width: 1926px;
    position: absolute;
    width: 1926px;
    height: 767.52px;
    left: 0px;
    top: 978.48px;
    z-index: -1;
}
.bgimg03{ 
    background-image: url("./Assets/Images/sec03.jpg");
    position: absolute;
    opacity: 0.7;
    width: 1920px;
    height: 300px;
    left: 0px;
    top: 1746px;
    z-index: -1;

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.bgimg04{
    background-image: url("./Assets/Images/sec04.png");
    position: absolute;
    left: -5px;
    top: 2044.95px;
}