@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
.gallery {
  width: 100%;
}

.gallery-container {
  height: 80vh;
  max-width: 200vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  position: relative;
}

.gallery-item {
  height: 30vh;
  width: 15vh;
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 0;
}

.gallery-item-3 {
  height: 60vh;
  width: 30vh;
  opacity: 1;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
  -webkit-box-shadow: 0 0 0.8vh rgba(255, 255, 255, 0.6), 0 0 1.6vh rgba(255, 255, 255, 0.45), 0 0 4vh rgba(255, 255, 255, 0.25), 0 0 8vh rgba(255, 255, 255, 0.1);
          box-shadow: 0 0 0.8vh rgba(255, 255, 255, 0.6), 0 0 1.6vh rgba(255, 255, 255, 0.45), 0 0 4vh rgba(255, 255, 255, 0.25), 0 0 8vh rgba(255, 255, 255, 0.1);
}

.gallery-item-1,
.gallery-item-5 {
  opacity: .4;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.gallery-item-2,
.gallery-item-4 {
  height: 40vh;
  width: 20vh;
  opacity: 1;
  z-index: 1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.gallery-item-1 {
  left: 15%;
}

.gallery-item-2 {
  left: 30%;
}

.gallery-item-5 {
  left: 85%;
}

.gallery-item-4 {
  left: 70%;
}

.btn-primary {
  background: linear-gradient(247.7deg, #1E34FD -73.17%, #A155FF 64.31%);
  border-radius: 10px;
  border: transparent;
  padding: .5rem 2rem;
}

.btn-primary:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), linear-gradient(247.7deg, #1E34FD -73.17%, #A155FF 64.31%);
}

.navbar {
  position: relative;
  height: 0;
  padding: 0 !important;
}

.navbar .nav-container {
  z-index: 99;
  position: absolute;
  padding: 2rem 4rem;
  top: 0;
  left: 0;
}

.navbar .nav-link {
  padding: 0 2rem !important;
  color: #ffffff;
  font-weight: 300;
  font-size: 16px;
}

.navbar .nav-link.active {
  color: #E5A01B !important;
}

.navbar .nav-link.active:hover {
  color: #dfcca8 !important;
}

@media screen and (max-device-width: 991px) {
  .navbar-nav {
    background-color: #1C083D;
    margin: 1rem 0;
  }
  .navbar-nav .nav-link {
    padding: 1rem !important;
  }
  .DeskOpenApp {
    display: none;
  }
  .MobOpenApp {
    display: block;
    margin-right: 1rem;
  }
}

@media screen and (min-device-width: 992px) {
  .DeskOpenApp {
    display: block;
  }
  .MobOpenApp {
    display: none;
  }
}

* {
  color: #f4f4f4;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  line-height: 27px;
  max-width: 1920px;
  margin: 0 auto;
}

.bg-image {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(349.3deg, #000000 -4.62%, rgba(29, 0, 89, 0.45) 88.46%), linear-gradient(344.94deg, #000000 45.74%, rgba(18, 0, 56, 0.16) 129.77%), #000000;
}

.Footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  width: 800px;
  border-top: 1px solid #707070;
  padding: 2rem;
  font-size: 13px;
}

@media screen and (max-device-width: 810px) {
  .Footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 410px;
  }
}

.sec-01 {
  position: relative;
}

.sec-01::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-image: url("./Assets/Images/BG-Landing.png");
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.LandingPage {
  padding-top: 2rem;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 5fr;
      grid-template-columns: 2fr 5fr;
}

.LandingPage .Description {
  padding-left: 5.5rem;
}

.LandingPage .Description .Content {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.Explanation {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  z-index: 10;
  padding-top: 20vh;
  padding-bottom: 5vh;
}

.Explanation .ExplanationContainer {
  width: 350px;
  place-self: center;
  text-align: center;
}

.Explanation .ExplanationContainer .PlayerIcon {
  width: 100px;
}

.Explanation .ExplanationContainer .Title {
  margin: 1rem 0 30px 0;
  font-weight: 600;
  font-size: 18px;
}

.Explanation .ExplanationContainer .Desc {
  width: 350px;
  text-align: justify;
  font-size: 14px;
  font-weight: 200;
}

.HeroArea {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("./Assets/Images/BG-HeroArea.jpg");
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0, rgba(0, 0, 0, 0.4) 100%), url("./Assets/Images/BG-HeroArea.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.Features {
  position: relative;
  padding-top: 5rem;
}

.Features::before {
  content: "";
  background-image: url("./Assets/Images/BG-Features.png");
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 10vh;
  z-index: -1;
}

.Features .FeaturesContainer {
  width: 450px;
  text-align: center;
  margin-top: 30px;
}

.Features .FeaturesContainer .Title {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 500;
}

.Features .FeaturesContainer .Desc {
  text-align: center;
  font-size: 14px;
  width: 450px;
  margin-bottom: 70px;
}

.Features .FeaturesContainer .FeatureList {
  list-style: none;
  padding: 0 1rem;
}

.Features .FeaturesContainer .FeatureList li {
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin: 2rem 0;
  height: 3rem;
  background: linear-gradient(59.46deg, #1C083D 1.6%, #1D4AA0 230.16%);
}

.Features .FeaturesContainer button {
  margin: 40px 0 50px 0;
}

@media screen and (max-device-width: 970px) {
  .LandingPage {
    padding-top: 8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .LandingPage .Description {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and (max-device-width: 810px) {
  .Explanation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-device-width: 550px) {
  .Explanation .ExplanationContainer .Desc {
    max-width: 350px;
    padding: 1rem;
  }
  .Features .FeaturesContainer {
    width: 100%;
  }
  .Features .FeaturesContainer .Desc {
    width: 100%;
    padding: 1rem;
  }
}

@media screen and (max-device-height: 1000px) {
  .Explanation {
    padding-top: 25rem;
    padding-bottom: 5rem;
  }
}
/*# sourceMappingURL=index.css.map */