* {
    color: #f4f4f4;
}

.navbar {

    .nav-link {
        &.active {
            color: #E5A01B !important;

            &:hover {
                color: #dfcca8 !important;
            }
        }
    }
}

.LandingPage {
    display: grid;
    grid-template-columns: 2fr 5fr;

    .Description {
        padding: 10%;
    }
}

.bg-image {
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background:
        linear-gradient(349.3deg, #000000 -4.62%, rgba(29, 0, 89, 0.45) 88.46%),
        linear-gradient(344.94deg, #000000 45.74%, rgba(18, 0, 56, 0.16) 129.77%),
        #000000;

    // .bg-Vector {}
}

$gallery-height:400px;
$gallery-width: $gallery-height/2;


.gallery {
    width: 100%;
}

.gallery-container {
    height: $gallery-height * 1.5;
    max-width: $gallery-width * 10;

    align-items: center;
    display: flex;
    margin: 0 auto;
    position: relative;
}

.gallery-item {
    height: $gallery-height * 0.75;
    width: $gallery-width * 0.75;

    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    z-index: 0;
}

.gallery-item-3 {
    height: $gallery-height * 1.5;
    width: $gallery-width * 1.5;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    box-shadow:
        0 0 $gallery-height/50 rgba(255, 255, 255, 0.6),
        0 0 $gallery-height/25 rgba(255, 255, 255, 0.45),
        0 0 $gallery-height/10 rgba(255, 255, 255, 0.25),
        0 0 $gallery-height/5 rgba(255, 255, 255, 0.1);
}

.gallery-item-1,
.gallery-item-5 {
    opacity: .4;
    transform: translateX(-50%);
}

.gallery-item-2,
.gallery-item-4 {
    height: $gallery-height;
    width: $gallery-width;

    opacity: 1;
    z-index: 1;
    transform: translateX(-50%);
}

.gallery-item-1 {
    left: 15%;
}

.gallery-item-2 {
    left: 30%;
}

.gallery-item-5 {
    left: 85%;
}

.gallery-item-4 {
    left: 70%;
}