@import "Assets/Styles/gallery";
@import "Assets/Styles/main";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");



.sec-01 {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        background-image: url("./Assets/Images/BG-Landing.png");
        background-repeat: no-repeat;
        background-size: cover;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.LandingPage {
    padding-top: 2rem;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 5fr;

    .Description {
        padding-left: 5.5rem;

        .Content {
            margin-top: 2rem;
            margin-bottom: 3rem;

        }
    }
}

.Explanation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    z-index: 10;
    padding-top: 20vh;
    padding-bottom: 5vh;


    .ExplanationContainer {
        width: 350px;
        place-self: center;
        text-align: center;

        .PlayerIcon {
            width: 100px;
        }

        .Title {
            margin: 1rem 0 30px 0;
            font-weight: 600;
            font-size: 18px;
        }

        .Desc {
            width: 350px;
            text-align: justify;
            font-size: 14px;
            font-weight: 200;
        }
    }
}

.HeroArea {
    $padding-size: 8rem;
    padding-top: $padding-size;
    padding-bottom: $padding-size;

    $bg-opacity: 0.4;
    $bg-color: black;
    background-image: linear-gradient(0deg, rgba($bg-color, $bg-opacity) 0, rgba($bg-color, $bg-opacity) 100%),
        url("./Assets/Images/BG-HeroArea.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.Features {
    position: relative;
    padding-top: 5rem;

    &::before {
        content: "";

        background-image: url("./Assets/Images/BG-Features.png");
        background-size: cover;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 10vh;
        z-index: -1;
    }

    .FeaturesContainer {
        width: 450px;
        text-align: center;
        margin-top: 30px;

        .Title {
            margin-bottom: 30px;
            font-size: 24px;
            font-weight: 500;
        }

        .Desc {
            text-align: center;
            font-size: 14px;
            width: 450px;
            margin-bottom: 70px;
        }

        .FeatureList {
            list-style: none;
            padding: 0 1rem;

            li {
                display: grid;
                place-items: center;
                margin: 2rem 0;
                height: 3rem;
                background: linear-gradient(59.46deg, #1C083D 1.6%, #1D4AA0 230.16%);
            }
        }
        button{
            margin: 40px 0 50px 0;
        }
    }
}

@media screen and (max-device-width: 970px) {
    .LandingPage {
        padding-top: 8rem;
        display: flex;
        flex-direction: column;

        .Description {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}

@media screen and (max-device-width: 810px) {
    .Explanation {
        display: flex;
        flex-direction: column;
    }

}


@media screen and (max-device-width: 550px) {


    .Explanation {

        .ExplanationContainer {

            .Desc {
                max-width: 350px;
                padding: 1rem;
            }
        }
    }

    .Features {
        .FeaturesContainer {
            width: 100%;

            .Desc {
                width: 100%;
                padding: 1rem;
            }
        }
    }
}

@media screen and (max-device-height: 1000px) {

    .Explanation {
        padding-top: 25rem;
        padding-bottom: 5rem;
    }
}