@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
.btn-primary {
  background: linear-gradient(247.7deg, #1E34FD -73.17%, #A155FF 64.31%);
  border-radius: 10px;
  border: transparent;
  padding: .5rem 2rem;
}

.btn-primary:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), linear-gradient(247.7deg, #1E34FD -73.17%, #A155FF 64.31%);
}

.navbar {
  position: relative;
  height: 0;
  padding: 0 !important;
}

.navbar .nav-container {
  z-index: 99;
  position: absolute;
  padding: 2rem 4rem;
  top: 0;
  left: 0;
}

.navbar .nav-container .MobContainer {
  display: inline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .nav-link {
  padding: 0 2rem !important;
  color: #ffffff;
  font-weight: 300;
  font-size: 16px;
}

.navbar .nav-link.active {
  color: #E5A01B !important;
}

.navbar .nav-link.active:hover {
  color: #dfcca8 !important;
}

@media screen and (max-device-width: 490px) {
  .nav-container {
    z-index: 99;
    position: absolute;
    padding: 1rem 2rem 2rem 2rem !important;
    top: 0;
    left: 0;
  }
  .nav-container .MobContainer {
    display: inline;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 1rem;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-device-width: 991px) {
  .navbar-nav {
    background-color: #1C083D;
    margin: 1rem 0;
  }
  .navbar-nav .nav-link {
    padding: 1rem !important;
  }
  .DeskOpenApp {
    display: none;
  }
  .MobOpenApp {
    display: block;
    margin-right: 1rem;
  }
}

@media screen and (min-device-width: 992px) {
  .DeskOpenApp {
    display: block;
  }
  .MobOpenApp {
    display: none;
  }
}

* {
  color: #f4f4f4;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  line-height: 27px;
  max-width: 1920px;
  margin: 0 auto;
}

.bg-image {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(349.3deg, #000000 -4.62%, rgba(29, 0, 89, 0.45) 88.46%), linear-gradient(344.94deg, #000000 45.74%, rgba(18, 0, 56, 0.16) 129.77%), #000000;
}

.Footer {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  width: 800px;
  padding: 2rem !important;
  font-size: 13px;
}

.Footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  background-color: #707070;
  height: 1px;
}

@media screen and (max-device-width: 810px) {
  .Footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  color: black;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  /* Could be more or less, depending on screen size */
}

.modal-content .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-content .heading .h5 {
  font-weight: bold;
}

.modal-content h5 {
  color: black;
}

.modal-content input {
  color: black;
  width: 100%;
}

.modal-content textarea {
  color: black;
  width: 100%;
}

/* The Close Button */
.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.titlearea {
  background-image: url("../Assets/Images/BG-Developer01.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 8rem;
  text-align: center;
  position: relative;
  height: 43rem;
  padding-bottom: 2rem;
}

.titlearea::after {
  content: '';
  width: 65px;
  height: 3px;
  background-color: white;
  border-radius: 3px;
  position: absolute;
  left: 50%;
  top: 18.5rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.titlearea h4 {
  margin-top: 100px;
  font-size: 30px;
  font-weight: 500;
}

.Yottabyteteam {
  margin-top: 3rem;
  max-width: 500px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5rem;
}

.Yottabyteteam .teamtitle {
  color: #A978E6;
  font-weight: 600;
  margin-bottom: 45px;
  font-size: 28px;
}

.Yottabyteteam p {
  width: 495px;
  font-size: 14px;
}

.thedev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 22vh;
}

.thedev .picarea {
  border-radius: 5px;
  padding: 20px 20px 70px 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#370065), to(#001474));
  background: linear-gradient(#370065, #001474);
}

.thedev .picarea img {
  width: 16rem;
}

.thedev .nama {
  padding-top: 40px;
  text-align: center;
}

.thedev .nama h6 {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
}

.thedev .nama p {
  color: #A978E6;
  font-size: 14px;
  font-weight: 300;
}

.thedev .nama a {
  text-decoration: none;
}

.thedev .comment {
  text-align: justify;
  font-size: 14px;
  font-weight: 200;
  font-style: italic;
  width: 18rem;
}

.separator {
  text-align: center;
  width: 100%;
  padding: 100px 2rem 85px 2rem;
  background-color: #afafaf;
}

.separator h5 {
  font-weight: 600;
  font-size: 24px;
  color: #1f1f1f;
}

.separator p {
  font-size: 20px;
  color: black;
  font-weight: 400;
  margin-top: 20px;
}

.display {
  background-image: url("../Assets/Images/BG-Display.png");
  background-repeat: no-repeat;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.display img {
  width: 180px;
}

.display .bottomtitlearea {
  padding-top: 10vh;
}

.display .bottomtitlearea p {
  margin-top: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.25em;
  padding-bottom: 10vh;
}

.display .appdisplay {
  width: 900px;
  margin: auto;
}

.display .btn {
  width: 180px;
  margin: 80px auto;
}

@media screen and (max-device-width: 1000px) {
  .thedev {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .thedev > * {
    width: 296px;
    margin-bottom: 2rem;
  }
}

@media screen and (max-device-width: 900px) {
  .display .appdisplay {
    width: 100%;
  }
}

@media screen and (max-device-width: 510px) {
  .Yottabyteteam p {
    width: 100%;
    padding: 0 2rem;
  }
}
/*# sourceMappingURL=index.css.map */