@import "../Assets/Styles/main";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #f4f4f4;
}
.bg-image{
    background-image: url('../Assets/Images/BG-History.png');
    background-size: cover;
    position: absolute;

}
.HeroArea {
    padding-top: 6rem + 7rem; // 6rem dari navbar
    text-align: center;
    position: relative;
    height: 40vh;
    padding-bottom: 2rem;

    //garis putih
    &::after {
        content: '';
        width: 65px;
        height: 3px;
        background-color: white;
        border-radius: 3px;
        position: absolute;
        left: 50%;
        top: 8rem + 13.5rem; // 8rem dari paddingnya
        transform: translateX(-50%);
    }

    h6{
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 12px;
        margin-bottom: 20px;
    }
    .History{
        margin-top: 200px;
    }

    img{
        width: 250px;
    }
}


.HowItHappen {
    margin-top: 17rem;
    max-width: 900px;
    text-align: center;
    align-items: center;
    padding-bottom: 5rem;

    .Title {
        margin-bottom: 2rem;
        font-size: 24px;
    }

    .PhoneImage {
        margin-top: 2rem;
        margin-bottom: rem;
    }

    .Description {
        max-width: 450px;
        margin: 50px auto 0 auto;
        font-size: 14px;
        font-weight: 300;
        color: #f4f4f4;
    }
}