@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
.btn-primary {
  background: linear-gradient(247.7deg, #1E34FD -73.17%, #A155FF 64.31%);
  border-radius: 10px;
  border: transparent;
  padding: .5rem 2rem;
}

.btn-primary:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), linear-gradient(247.7deg, #1E34FD -73.17%, #A155FF 64.31%);
}

.navbar {
  position: relative;
  height: 0;
  padding: 0 !important;
}

.navbar .nav-container {
  z-index: 99;
  position: absolute;
  padding: 2rem 4rem;
  top: 0;
  left: 0;
}

.navbar .nav-link {
  padding: 0 2rem !important;
  color: #ffffff;
  font-weight: 300;
  font-size: 16px;
}

.navbar .nav-link.active {
  color: #E5A01B !important;
}

.navbar .nav-link.active:hover {
  color: #dfcca8 !important;
}

@media screen and (max-device-width: 991px) {
  .navbar-nav {
    background-color: #1C083D;
    margin: 1rem 0;
  }
  .navbar-nav .nav-link {
    padding: 1rem !important;
  }
  .DeskOpenApp {
    display: none;
  }
  .MobOpenApp {
    display: block;
    margin-right: 1rem;
  }
}

@media screen and (min-device-width: 992px) {
  .DeskOpenApp {
    display: block;
  }
  .MobOpenApp {
    display: none;
  }
}

* {
  color: #f4f4f4;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  line-height: 27px;
  max-width: 1920px;
  margin: 0 auto;
}

.bg-image {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(349.3deg, #000000 -4.62%, rgba(29, 0, 89, 0.45) 88.46%), linear-gradient(344.94deg, #000000 45.74%, rgba(18, 0, 56, 0.16) 129.77%), #000000;
}

.Footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  width: 800px;
  border-top: 1px solid #707070;
  padding: 2rem;
  font-size: 13px;
}

@media screen and (max-device-width: 810px) {
  .Footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 410px;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #f4f4f4;
  scroll-behavior: smooth;
}

.bg-image {
  background-image: url("../Assets/Images/BG-History.png");
  background-size: cover;
  position: absolute;
  height: 1920px;
  max-width: 1920px;
}

.HeroArea {
  padding-top: 13rem;
  text-align: center;
  position: relative;
  height: 40vh;
  padding-bottom: 2rem;
}

.HeroArea::after {
  content: '';
  width: 65px;
  height: 3px;
  background-color: white;
  border-radius: 3px;
  position: absolute;
  left: 50%;
  top: 21.5rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.HeroArea h6 {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 12px;
  margin-bottom: 20px;
}

.HeroArea .History {
  margin-top: 200px;
}

.HeroArea img {
  width: 250px;
}

.HowItHappen {
  margin-top: 17rem;
  max-width: 900px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5rem;
}

.HowItHappen .Title {
  margin-bottom: 2rem;
  font-size: 24px;
}

.HowItHappen .PhoneImage {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.HowItHappen .Description {
  max-width: 450px;
  margin: 50px auto 0 auto;
  font-size: 14px;
  font-weight: 300;
  color: #f4f4f4;
}
/*# sourceMappingURL=index.css.map */