@import "Modif/btn";
@import "nav";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    color: #f4f4f4;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    scroll-behavior: smooth;
}



body {
    overflow-x: hidden;
    line-height: 27px;
    max-width: 1920px;
    margin: 0 auto;
}

.bg-image {
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background:
        linear-gradient(349.3deg, #000000 -4.62%, rgba(29, 0, 89, 0.45) 88.46%),
        linear-gradient(344.94deg, #000000 45.74%, rgba(18, 0, 56, 0.16) 129.77%),
        #000000;

    // .bg-Vector {}
}

.Footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    width: 800px;
    border-top: 1px solid #707070;
    padding: 2rem;
    font-size: 13px;
}

@media screen and (max-device-width: 810px) {
    .Footer {
        display: flex;
        flex-direction: column;
        max-width: 410px;
    }
}