.navbar {
    position: relative;
    height: 0;
    padding: 0 !important;

    .nav-container {
        z-index: 99;
        position: absolute;
        padding: 2rem 4rem;
        top: 0;
        left: 0;

    }

    .nav-link {
        padding: 0 2rem !important;
        color: #f4f4f4;

        &.active {
            color: #E5A01B !important;

            &:hover {
                color: #dfcca8 !important;
            }
        }
    }


}


@media screen and (max-device-width: 991px) {
    .navbar-nav {
        background-color: #1C083D;
        margin: 1rem 0;

        .nav-link {
            padding: 1rem !important;
        }
    }

    .DeskOpenApp {
        display: none;
    }

    .MobOpenApp {
        display: block;
        margin-right: 1rem;
    }
}

@media screen and (min-device-width: 992px) {
    .DeskOpenApp {
        display: block;
    }

    .MobOpenApp {
        display: none;
    }
}