.navbar {
    .nav-link {
        &.active {
            color: #E5A01B !important;

            &:hover {
                color: #dfcca8 !important;
            }
        }
    }
}

.navbar-nav{
    .nav-link{
        margin: 0 35px 0 35px;
        
        a{
        color: #f4f4f4;
        }
    }
}